<h2>User info</h2>
<%= render 'users/profile', user: @user %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
<p>error</p>
<div class="alert alert-warning">

	<h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<!-- エラーメッセージ表示-->

<%= form_for(@user) do |f| %>
	<div class="field row">
		<%= f.label :name %>
		<%= f.text_field :name, class: "col-xs-12" %>
	</div>
	<%= f.attachment_field :profile_image %>
	<div class="field row">
		<%= f.label :introduction %> <!-- ここを変更 -->
		<%= f.text_area :introduction, class: "col-xs-12" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>